export TERM=xterm-256color

# powerline:
export POWERLINE_COMMAND=powerline
export POWERLINE_CONFIG_COMMAND=powerline-config

# pyenv:
export PATH="$HOME/.pyenv/bin:$PATH"
eval "$(pyenv init -)"
eval "$(pyenv virtualenv-init -)"

# django:
export DJANGO_SUPERUSER_USERNAME='admin'
export DJANGO_SUPERUSER_PASSWORD='admin'
export DJANGO_SUPERUSER_EMAIL='admin@ascp.pl'
export JENKINS_ENV='true'

# nodejs:
export NODE_OPTIONS=--max_old_space_size=4096

# ascp:
export DJANGO_SECRET_KEY='zy41h_wv9y=_e-aq4xw04#yr3(cf@7n8&-r1u19*+0w+6+n*s9'
export DJANGO_DB_PASS_URL=mysql://ascp:ascp@127.0.0.1:3306/ascp_ext
export DJANGO_DB_URL=mysql://ascp:ascp@127.0.0.1:3306/ascp
export DJANGO_DB_URL=mysql://ascp:ascp@127.0.0.1:3306/ucubes
